# This file exemplifies how to write the RELEASE.local file

# aravisGigE module path
ARAVISGIGE=/opt/epics/aravisGigE

# include aravisGigE module variables
-include $(ARAVISGIGE)/configure/RELEASE.local

CALC=$(SUPPORT)/calc-R3-7
BUSY=$(SUPPORT)/busy-R1-7
SSCAN=$(SUPPORT)/sscan-R2-11-1
AUTOSAVE=$(SUPPORT)/autosave-R5-9

HDF5_LIB     = /usr/lib/x86_64-linux-gnu/hdf5/serial
HDF5_INCLUDE = -I/usr/include/hdf5/serial

SZIP_LIB       = /usr/lib
SZIP_INCLUDE   =
